.StartButtonContainer {
  width: 12%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.StartButton {
  width: 4rem;
  height: 1.2rem;
  border: 1px solid rgb(30, 30, 40);
  cursor: pointer;
  border-radius: .5rem;
  vertical-align: middle;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  background-color: rgb(252, 253, 255);
  box-shadow: 1px 1px 3px rgba(30, 30, 40, .6);
}

.StartButton:hover {
  box-shadow: none;
}

.inactive {
  background-color: rgb(120, 120, 125);
  box-shadow: none;
  cursor: auto;
}