.Card {
  width: 16%;
  margin-left: 4%;
  margin-right: 4%;
  height: 20%;
  border: 1px solid black;
  background-color: rgb(80, 40, 60);
  border-radius: .6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inactive-card {
  background-color: rgb(60, 60, 60);
}

.flipped-card {
  background-color: rgb(180, 120, 120)
}

.cardValue {
  color: rgb(60, 20, 50);
  font-size: 4rem;
}


