.VictoryContainer {
  position: relative;
  height: 100vh;
  width: 100vh;
  background: rgba(252, 253, 255, .5);
  bottom: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.VictoryBanner {
  height: 15%;
  width: 100vh;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  background-color: rgb(252, 253, 255);
}